# 정적인 공통파일만
server:
  port: 8080
  address: 0.0.0.0
  tomcat:
    threads:
      max: 100
      min-spare: 20
      max-queue-capacity: 1000
    max-connections: 10000
    accept-count: 500
    connection-timeout: 60000
    keep-alive-timeout: 30000
    max-http-header-size: 8192
    max-keep-alive-requests: 100

spring:
  main:
    web-application-type: servlet
  application:
    name: auth-service
  jackson:
    time-zone: Asia/Seoul
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

logging:
  level:
    root: INFO
    org.springframework.security: DEBUG

springdoc:
  api-docs:
    path: /v3/api-docs/auth
  swagger-ui:
    path: /swagger-ui.html