server:
  port: 19091

spring:
  main:
    web-application-type: reactive
  application:
    name: gateway-service

  cloud:
    gateway:
      # --- CORS (게이트웨이에서 전부 처리) ---
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://127.0.0.1:5500"
              - "http://localhost:5500"
              - "http://127.0.0.1:5173"
              - "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders:
              - Authorization
              - Content-Type
              - X-Requested-With
            exposedHeaders:
              - Authorization
            allowCredentials: true
            maxAge: 3600

      # 공통 필터
      default-filters:
        # 동일 CORS 헤더 중복 방지
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin RETAIN_UNIQUE

        - name: AuthenticationFilter
          args:
            excludedPaths:
              - /v1/api/auth/login
              - /v1/api/users/sign-up
              - /v3/api-docs/**
              - /swagger-ui
              - /swagger-ui.html
              - /swagger-resources

      routes:
        - id: user
          uri: lb://user-service
          predicates:
            - Path=/v1/api/users/**, /v3/api-docs/user/**
        - id: auth
          uri: lb://auth-service
          predicates:
            - Path=/v1/api/auth/**, /v3/api-docs/auth/**

        - id: chat
          uri: lb://chat-service
          predicates:
            - Path=/v1/api/chat/**, /v3/api-docs/chat/**
        - id: chat-ws
          uri: lb://chat-service
          predicates:
            - Path=/chat-ws/**

        - id: board
          uri: lb://board-service
          predicates:
            - Path=/v1/api/boards/**, /v3/api-docs/board/**

        - id: comment
          uri: lb://board-service
          predicates:
            - Path=/v1/api/comments/**

        - id: whisky
          uri: lb://whisky-service
          predicates:
            - Path=/v1/api/whiskies/**, /v3/api-docs/whisky/**

        - id: notification
          uri: lb://notification-service
          predicates:
            - Path=/v1/api/notifications/**, /v3/api-docs/notifications/**



      discovery:
        locator:
          enabled: true

    loadbalancer:
      cache:
        enabled: false

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_URL}

springdoc:
  swagger-ui:
    urls:
      - name: 1. Auth Service      # 드롭다운에 표시될 이름
        url: /v3/api-docs/auth     # Swagger JSON을 가져올 경로 (아래 라우팅 설명 참고)
      - name: 2. User Service
        url: /v3/api-docs/user
      - name: 3. Board Service
        url: /v3/api-docs/board
      - name: 4. Chat Service
        url: /v3/api-docs/chat
      - name: 5. Notification Service
        url: /v3/api-docs/notifications
      - name: 6. Whisky Service
        url: /v3/api-docs/whisky

jwt:
  secretKey: ${JWT_KEY}
  access:
    expiration: 3600000 # 1시간
    header: Authorization
  refresh:
    expiration: 1209600000 # 14일
    header: Authorization-refresh
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.netty: DEBUG
