server:
  port: 8081
  forward-headers-strategy: native
spring:
 application:
  name: chat-service
 config:
  import: "optional:file:.env[.properties]"



logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.web.socket: DEBUG
    org.springframework.security: DEBUG